numpy==1.22.1
pandas==1.4.0
pymysql==1.0.2
requests==2.27.1
session_info==1.0.0
asttokens==NA
backcall==0.2.0
certifi==2021.10.08
chardet==4.0.0
charset_normalizer==2.0.10
cython_runtime==NA
dateutil==2.8.2
debugpy==1.6.0
decorator==5.1.1
entrypoints==0.4
executing==0.8.3
google==NA
idna==3.3
ipykernel==6.12.1
ipython_genutils==0.2.0
jedi==0.18.1
jupyter_server==1.16.0
mpl_toolkits==NA
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkg_resources==NA
prompt_toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.2
pydev_ipython==NA
pydevconsole==NA
pydevd==2.8.0
pydevd_file_utils==NA
pydevd_plugins==NA
pydevd_tracing==NA
pygments==2.11.2
pytz==2021.3
sitecustomize==NA
six==1.16.0
stack_data==0.2.0
tornado==6.1
traitlets==5.1.1
urllib3==1.26.8
wcwidth==0.2.5
zmq==22.3.0
zope==NA
IPython==8.2.0
jupyter_client==7.2.2
jupyter_core==4.9.2
jupyterlab==3.3.3
notebook==6.4.10
